.top-nav-item {
  @apply .text-grey-darker .text-xs .mr-4 .font-bold .pb-3 .border-b-2 .border-solid .border-transparent;

  &:hover {
    text-decoration: none;
    @apply .text-yesayasoftware .border-yesayasoftware;
  }
}

//Dashboard
.header-nav {
  border-bottom-width: 1px;
  border-color: rgba(93,100,148,.1);
}